@import "tailwindcss";

@font-face {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 200 700;
  src: url("/fonts/PlusJakartaSans-VariableFont.ttf") format("woff2");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 200 700;
  src: url("/fonts/OpenSans-VariableFont.ttf") format("woff2");
}

@theme {
  --font-primary: "Plus Jakarta Sans", ui-sans-serif;
  --font-secondary: "Open Sans", ui-sans-serif;
}
