---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Impresoras">
  <section class="mt-32">
    <h2
      class="font-bold font-primary w-full text-5xl bg-linear-to-r from-blue-300 via-blue-500/80 to-blue-800/30 bg-clip-text text-transparent"
    >
      Sección de impresoras
    </h2>
  </section>
</Layout>
